<div fxLayout="row" class="container">
  <!-- sidebar -->
  <div fxLayout="column" fxFlex="20" class="sidebar" style="height: 100%">
    <div fxLayout="row" fxFlex="25" fxLayoutAlign="center" style="background-color: red">
      <div fxLayout="column" fxLayoutAlign="center" style="background-color: aliceblue">
        <div>1/4</div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="25" fxLayoutAlign="center" style="background-color: green">
      <div fxLayout="column" fxLayoutAlign="center" style="background-color: aliceblue">
        <div>1/4</div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="50" fxLayoutAlign="center" style="background-color: blue">
      <div fxLayout="column" fxLayoutAlign="center" style="background-color: aliceblue">
        <div>2/4</div>
      </div>
    </div>
  </div>
  <!-- content -->
  <div fxLayout="column" fxFlex="80" class="content">
    <div fxFlexAlign="center">Content</div>
  </div>
</div>
